---
import Slide from "../../components/Slide.astro";
import Title from "../../components/Title.astro";
import Git from "./Git.astro";
import Demo from "../../components/Demo.astro";
---

<section>
	<Slide>
		<Title title="Allons faire un petit tour sur le projet" punctuation="..." style={{
			justifyContent: "center",
			fontSize: "5rem"
		}} />
	</Slide>
	<Demo />
	<Git />
</section>
