---
import Slide from "../../components/Slide.astro";
import Title from "../../components/Title.astro";
---

<section>
	<Slide>
		<Title title="Et l'IA dans tout ça" punctuation=" ?" style={{
			justifyContent: "center",
			fontSize: "5rem"
		}} />
	</Slide>
</section>
