---
import Slide from "../../components/Slide.astro";
import Title from "../../components/Title.astro";
import TypeDoc from "./TypeDoc.astro";
import Extensions from "./Extensions.astro";
---

<section>
	<Slide>
		<Title title="Autres outils et astuces" punctuation="..." style={{
			justifyContent: "center",
			fontSize: "5rem"
		}} />
	</Slide>


	<!-- Typing -->
	<TypeDoc />

	<!-- Extensions IDE -->
	<Extensions />
</section>
