---
import Slide from "../../components/Slide.astro";
import Title from "../../components/Title.astro";
import Link from "../../components/Link.astro";
---

<section>
	<Slide>
		<Title title="Autres outils et astuces" punctuation="..." style={{
			justifyContent: "center",
			fontSize: "5rem"
		}} />
	</Slide>


	<!-- Typing -->
	<Slide>
		<Title title="Typescript" punctuation="..." />
		<Link url="https://www.typescriptlang.org/" />
	</Slide>

	<!-- JSDoc -->
	<Slide>
		<Title title="JsDoc" punctuation="..." />
		<Link url="https://www.typescriptlang.org/" />
	</Slide>

	<!-- Extensions IDE -->
</section>
