---
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";
import Slide from "../../components/Slide.astro";
---
<Slide>
	<Title title="Grafana" punctuation="..."/>
</Slide>
<Slide>
	<Title title="Grafana" punctuation="..."/>

	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Grafana_logo.svg/1200px-Grafana_logo.svg.png"
			 style={{
				 width: '250px',
				 borderRadius: '10px'
			 }}/>
	<p>ℹ️ Permet de surveiller et analyser les données de votre application avec des graphes.</p>

	<Link url="https://grafana.com/"/>
</Slide>
<Slide>
	<Title title="Grafana" punctuation="..."/>

	<img src="https://grafana.com/media/products/cloud/grafana/grafana-dashboard-english.png"
			 style={{
				 height: '500px',
				 borderRadius: '10px'
			 }}/>
</Slide>
