---
import Slide from "../../components/Slide.astro";
import Title from "../../components/Title.astro";
import Grafana from "./Grafana.astro";
import Alerting from "./Alerting.astro";
import PerfTesting from "./PerfTesting.astro";
import NewRelic from "./NewRelic.astro";
---
<section>
	<Slide>
		<Title title="Comment surveiller tout ça" punctuation=" ?" style={{
			justifyContent: "center",
			fontSize: "5rem"
		}}/>
	</Slide>

	<Grafana />
	<NewRelic />
	<PerfTesting />
	<Alerting />
</section>
