---
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";
import Slide from "../../components/Slide.astro";
---
<Slide>
	<Title title="New Relic" punctuation="..."/>
</Slide>
<Slide>
	<Title title="New Relic" punctuation="..."/>

	<img src="https://companieslogo.com/img/orig/NEWR-de5fcb2e.png?t=1681801483"
			 style={{
				 width: '250px',
				 borderRadius: '10px'
			 }}/>
	<p>ℹ️ Observe vos applications et vos machines et propose beaucoup de fonctionnalités.</p>

	<Link url="https://newrelic.com"/>
</Slide>
<Slide>
	<Title title="New Relic" punctuation="..."/>

	<img src="https://newrelic.com/sites/default/files/styles/1200w/public/2023-01/newrelic_serverless_v2.png?itok=cJB-Es9Q"
			 style={{
				 height: '500px',
				 borderRadius: '10px'
			 }}/>
</Slide>
