---
import Slide from "../../components/Slide.astro";
import Title from "../../components/Title.astro";
import Link from "../../components/Link.astro";
---
<Slide>
	<Title title="Tests de performance" punctuation="..."/>
</Slide>

<Slide>
	<Title title="Tests de performance" punctuation="..."/>

	<img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/7e/Datadog_logo.svg/1200px-Datadog_logo.svg.png"
			 style={{
				 width: '250px',
				 borderRadius: '15px'
			 }}/>
	<p>ℹ️ Fournir des insights pour optimiser les perfs et garantir une expérience utilisateur optimale</p>

	<Link url="https://www.datadoghq.com/"/>
</Slide>

<Slide>
	<Title title="Tests de performance" punctuation="..."/>

	<img src="https://upload.wikimedia.org/wikipedia/commons/2/22/Apache_JMeter.png"
			 style={{
				 width: '250px',
				 borderRadius: '15px'
			 }}/>
	<p>ℹ️ Evaluer les performances des applications web en simulant un grand nombre d'utilisateurs concurrents.</p>

	<Link url="https://jmeter.apache.org/"/>
</Slide>
