---
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";
import Slide from "../../components/Slide.astro";
---
<Slide>
	<Title title="ChatGPT" punctuation="..."/>
</Slide>
<Slide>
	<Title title="ChatGPT" punctuation="..."/>

	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/1024px-ChatGPT_logo.svg.png"
			 style={{
				 width: '250px',
				 borderRadius: '10px'
			 }}/>
	<p>ℹ️ Le pionnier des LLM, pratique et gratuit mais se trompe souvent sur des problèmes un peu complexe.</p>

	<Link url="https://chat.openai.com/"/>
</Slide>
