---
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";
import Slide from "../../components/Slide.astro";
---
<Slide>
	<Title title="Github Copilot" punctuation="..."/>
</Slide>
<Slide>
	<Title title="Github Copilot" punctuation="..."/>

	<img src="https://static-00.iconduck.com/assets.00/brand-github-copilot-icon-2048x1775-2h15dc8k.png"
			 style={{
				 width: '250px',
				 borderRadius: '10px'
			 }}/>
	<p>ℹ️ Une extension à vos IDE entraînés sur les données de github. Très pratique pour de l'auto-complétion.</p>

	<Link url="https://github.com/features/copilot"/>
</Slide>
