---
import Slide from "../../components/Slide.astro";
import Title from "../../components/Title.astro";
import Warnings from "./Warnings.astro";
import Extensions from "../tips/Extensions.astro";
import ChatGPT from "./ChatGPT.astro";
import Copilot from "./Copilot.astro";
import More from "./More.astro";
---

<section>
	<Slide>
		<Title title="Et l'IA dans tout ça" punctuation=" ?" style={{
			justifyContent: "center",
			fontSize: "5rem"
		}} />
	</Slide>

	<Warnings />
	<ChatGPT />
	<Copilot />
</section>
