---
import Layout from "../layouts/Layout.astro";
import Title from "../slides/Introduction.astro";
import Why from "../slides/Why.astro";
import Presentation from "../slides/presentation/Presentation.astro";
import IntroQuote from "../slides/storyTelling/IntroQuote.astro";
import Project from "../slides/project/Project.astro";
import Tips from "../slides/tips/Tips.astro";
import IA from "../slides/ia/IA.astro";
import Code from "../slides/code/Code.astro";
import CICD from "../slides/cicd/CICD.astro";
import Monitoring from "../slides/monitoring/Monitoring.astro";
---

<Layout title="My Awesome Talk Title">
  <main class="reveal">
    <div class="slides">
      <Title />
			<!-- Intro Mick -->
			<section>
				<Why />
				<Presentation />
				<IntroQuote />
			</section>

      <!-- Balade dans le projet Mick -->
			<Project />

			<!-- Analyse du code (Packages, eslint, prettier...) POPS -->
			<!-- Ajouter des slides de demo pour eslint et prettier -->
			<Code />

			<!-- Petites astuces Mick -->
			<Tips />

			<!-- IA TODO -->
			<IA />

			<!-- CI / CD POPS -->
			<CICD />

			<!-- Pourquoi on fait tout ça ? TODO -->

			<!-- Build / Deploiement / Changelog... TODO -->

			<!-- Suivi de prod / Monitoring... TODO -->
			<!-- Alerting, new relic, suivi côté serveur (status check), tests de perf -->
			<Monitoring />


    </div>
  </main>
</Layout>

<style lang="scss">
  // Sass is installed by default, you can change if you prefer Stylus or Less
</style>
