---
import Slide from "../../components/Slide.astro";
import Title from "../../components/Title.astro";

import Speakers from "./Speakers.astro";
---

<Slide>
	<Title title="Qui on est" punctuation=" ?" style={{
		justifyContent: "center",
		fontSize: "5rem"
	}} />
</Slide>

<!--Speakers-->
<Slide>
	<Title title="Qui on est" punctuation=" ?" style={{
		justifyContent: "center",
	}} />

	<Speakers />
</Slide>

<!--UCBL-->
<Slide>
	<Title title="Qui on est" punctuation=" ?" style={{
		justifyContent: "center",
	}} />

	<Speakers />
	<div>
		<img src="https://applimobile.univ-lyon1.fr/assets/photos/logo_lyon1.png" style={{
			width: "400px"
		}}/>
	</div>
</Slide>

<!--Zenika-->
<Slide>
	<Title title="Qui on est" punctuation=" ?" style={{
		justifyContent: "center",
	}} />

	<Speakers />
	<div>
		<img src="https://applimobile.univ-lyon1.fr/assets/photos/logo_lyon1.png" style={{
			width: "400px"
		}}/>
		<img src="https://training.zenika.com/_nuxt/img/zenika_logo_horizontal_black.a41f832.png" style={{
			width: "300px"
		}}/>
	</div>
</Slide>

<!--Bedrock-->
<Slide>
	<Title title="Qui on est" punctuation=" ?" style={{
		justifyContent: "center",
	}} />

	<Speakers />
	<div>
		<div style={{
			display: "flex",
			justifyContent: "space-evenly",
			fontSize: "1.5rem",
			fontWeight: "bold",
			color: "#2ec7cc"
		}}>
			<p>(Anciennement)</p>
			<p>(Actuellement)</p>
		</div>

		<img src="https://d1.awsstatic.com/Bedrock-logo.a922b69c6e52e50d8a03b907bf33332903e0a653.png" style={{
			width: "150px"
		}}/>
	</div>
</Slide>
