---
import Mick from "../../assets/images/micka.jpeg?url"
import Pops from "../../assets/images/pops.jpg?url"
---

<div
	style={{
		display: "flex",
		width: "100%",
		justifyContent: "space-evenly",
	}}
>
	<div>
		<img src={Mick} alt="" style={{
			border: "solid 3px #2ec7cc",
			borderRadius: "50%",
			width: "200px",
			height: "auto"
		}} />
		<p style={{fontWeight: "bold"}}>Mickaël Alves</p>
	</div>
	<div>
		<img src={Pops} alt="" style={{
			border: "solid 3px #2ec7cc",
			borderRadius: "50%",
			width: "200px",
			height: "auto"
		}} />
		<p style={{fontWeight: "bold"}}>Etienne Idoux</p>
	</div>
</div>
