---
import Slide from "../../components/Slide.astro";
import Title from "../../components/Title.astro";
import Link from "../../components/Link.astro";
---
<Slide>
	<Title title="Continuous Integration (CI)" punctuation="..."/>
</Slide>

<Slide>
	<Title title="Continuous Integration (CI)" punctuation="..."/>
	<ul>
		<li>Détecter rapidement les erreurs</li>
	</ul>
</Slide>

<Slide>
	<Title title="Continuous Integration (CI)" punctuation="..."/>
	<ul>
		<li>Détecter rapidement les erreurs</li>
		<li>Automatiser les bonnes pratiques</li>
	</ul>
</Slide>

<Slide>
	<Title title="Continuous Integration (CI)" punctuation="..."/>
	<ul>
		<li>Détecter rapidement les erreurs</li>
		<li>Automatiser les bonnes pratiques</li>
		<li>Fusionner régulièrement le code pour s'assurer de sa qualité !</li>
	</ul>
</Slide>

<Slide>
	<Title title="Continuous Integration (CI)" punctuation="..."/>
	<ul>
		<li>Détecter rapidement les erreurs</li>
		<li>Automatiser les bonnes pratiques</li>
		<li>Fusionner régulièrement le code pour s'assurer de sa qualité !</li>
	</ul>
	<Link url="https://typicode.github.io/husky/" text="Husky"/>
	<br/>
	<Link url="https://github.com/lint-staged/lint-staged" text="Lint Staged"/>
	<br/>
	<Link url="https://docs.gitlab.com/ee/ci/" text="Gitlab CI/CD"/>
</Slide>

<style>
	ul {
		width: 100%;
		padding-bottom: 1.5rem;
	}
</style>
