---
import Slide from "../../components/Slide.astro";
import Title from "../../components/Title.astro";
import Demo from "../../components/Demo.astro";
import Node from "./Node.astro";
import Linters from "./Linters.astro";
import Formatters from "./Formatters.astro";
---
<section>
	<Slide>
		<Title title="Comment améliorer notre code" punctuation=" ?" style={{
			justifyContent: "center",
			fontSize: "5rem"
		}}/>
	</Slide>

	<Node/>
	<Demo/>

	<Linters/>
	<Demo/>

	<Formatters/>
	<Demo/>

</section>
