---
import Slide from "../../components/Slide.astro";
import Title from "../../components/Title.astro";
import Link from "../../components/Link.astro";
---
<Slide>
	<Title title="🧹 Formatters" punctuation="..." />
</Slide>

<Slide>
	<Title title="🧹 Formatters" punctuation="..." />
	<ul>
		<li>Réorganiser le code pour le rendre plus lisible et plus consistant</li>
	</ul>
</Slide>

<Slide>
	<Title title="🧹 Formatters" punctuation="..." />
	<ul>
		<li>Réorganiser le code pour le rendre plus lisible et plus consistant</li>
		<li>Gagner du temps sur le formattage</li>
	</ul>
</Slide>

<Slide>
	<Title title="🧹 Formatters" punctuation="..." />
	<ul>
		<li>Réorganiser le code pour le rendre plus lisible et plus consistant</li>
		<li>Gagner du temps sur le formattage</li>
		<li>Produire du code uniforme et cohérent</li>
	</ul>
</Slide>

<Slide>
	<Title title="🧹 Formatters" punctuation="..." />
	<ul>
		<li>Réorganiser le code pour le rendre plus lisible et plus consistant</li>
		<li>Gagner du temps sur le formattage</li>
		<li>Produire du code uniforme et cohérent</li>
	</ul>
	<Link url="https://prettier.io/"/><br/>
	<Link url="https://biomejs.dev/"/>
</Slide>

<style>
	ul {
		width: 100%;
		padding-bottom: 1.5rem;
	}
</style>
