---
import Slide from "../../components/Slide.astro";
import Title from "../../components/Title.astro";
import Link from "../../components/Link.astro";
---
<Slide>
	<Title title="👮 Linters" punctuation="..." />
	<ul>
		<li>Détection des erreurs de syntaxe dans le code</li>
	</ul>
</Slide>
<Slide>
	<Title title="👮 Linters" punctuation="..." />
	<ul>
		<li>Détection des erreurs de syntaxe dans le code</li>
		<li>Des règles pour le <strong>projet entier</strong></li>
	</ul>
</Slide>
<Slide>
	<Title title="👮 Linters" punctuation="..." />
	<ul>
		<li>Détection des erreurs de syntaxe dans le code</li>
		<li>Des règles pour le <strong>projet entier</strong></li>
		<li>Améliorer la qualité du code</li>
	</ul>
</Slide>
<Slide>
	<Title title="👮 Linters" punctuation="..." />
	<ul>
		<li>Détection des erreurs de syntaxe dans le code</li>
		<li>Des règles pour le <strong>projet entier</strong></li>
		<li>Améliorer la qualité du code</li>
	</ul>
	<Link url="https://eslint.org/"/>
	<br />
	<Link url="https://stylelint.io/"/>
</Slide>

<style>
	ul {
		width: 100%;
		padding-bottom: 1.5rem;
	}
</style>
