---
import Slide from "../../components/Slide.astro";
import Title from "../../components/Title.astro";
import Link from "../../components/Link.astro";
---
<Slide>
	<Title title="📦 Node Package Manager (NPM)" punctuation="..."/>
</Slide>

<Slide>
	<Title title="📦 Node Package Manager (NPM)" punctuation="..."/>
	<ul>
		<li>Gestionnaire de packages</li>
	</ul>
</Slide>

<Slide>
	<Title title="📦 Node Package Manager (NPM)" punctuation="..."/>
	<ul>
		<li>Gestionnaire de packages</li>
		<li>Installation de dépendences</li>
	</ul>
</Slide>

<Slide>
	<Title title="📦 Node Package Manager (NPM)" punctuation="..."/>
	<ul>
		<li>Gestionnaire de packages</li>
		<li>Installation de dépendences</li>
		<li>Scripts personnalisés</li>
	</ul>
</Slide>

<Slide>
	<Title title="📦 Node Package Manager (NPM)" punctuation="..."/>
	<ul>
		<li>Gestionnaire de packages</li>
		<li>Installation de dépendences</li>
		<li>Scripts personnalisés</li>
	</ul>
	<Link url="https://www.npmjs.com/"/>
</Slide>

<style>
	ul {
		width: 100%;
		padding-bottom: 1.5rem;
	}
</style>
