---
import Slide from "../../components/Slide.astro";
import Title from "../../components/Title.astro";
import Link from "../../components/Link.astro";
---
<Slide>
	<Title title="📦 Node Package Manager (NPM)" punctuation="..."/>
</Slide>

<Slide>
	<Title title="📦 Node Package Manager (NPM)" punctuation="..."/>
	<ul>
		<li>Gestionnaire de packages</li>
	</ul>
</Slide>

<Slide>
	<Title title="📦 Node Package Manager (NPM)" punctuation="..."/>
	<ul>
		<li>Gestionnaire de packages</li>
		<li>Installation de dépendences</li>
	</ul>
</Slide>

<Slide>
	<Title title="📦 Node Package Manager (NPM)" punctuation="..."/>
	<ul>
		<li>Gestionnaire de packages</li>
		<li>Installation de dépendences</li>
		<li>Scripts personnalisés</li>
	</ul>
</Slide>

<Slide>
	<Title title="📦 Node Package Manager (NPM)" punctuation="..."/>
	<ul>
		<li>Gestionnaire de packages</li>
		<li>Installation de dépendences</li>
		<li>Scripts personnalisés</li>
	</ul>
	<Link url="https://www.npmjs.com/"/>
</Slide>

<Slide>
	<Title title="Alternative à npm" punctuation="..."/>
	<div style={{
		display: "flex",
		justifyContent: "center",
		alignItems: "center",
		paddingLeft: "3rem"
	}}>
		<img src="https://whatthelogo.com/storage/logos/yarn-272918.png" style={{
			width: "120px",
		}}/>
		<img src="https://budavariam.github.io/posts/2022/06/15/save-disk-space-with-pnpm/cover.svg" style={{
			width: "300px",
		}}/>
	</div>
	<div style={{
		display: "flex",
		flexDirection: "column",
		justifyContent: "center",
		alignItems: "center",
		paddingTop: "5rem"
	}}>
		<Link url="https://yarnpkg.com/"/>
		<Link url="https://pnpm.io/fr/"/>
	</div>
</Slide>

<style>
	ul {
		width: 100%;
		padding-bottom: 1.5rem;
	}
</style>
