---
import Slide from "../../components/Slide.astro";
import Title from "../../components/Title.astro";
---

<Slide>
	<Title title="Environnement de travail" punctuation=" !" style={{
		justifyContent: "center",
		fontSize: "5rem"
	}}/>
</Slide>

<Slide>
	<Title title="Integrated Development Environment (IDE)" punctuation=" !"/>
</Slide>

<Slide>
	<Title title="Integrated Development Environment (IDE)" punctuation=" !"/>
	<img src="https://st.quantrimang.com/photos/image/2021/10/21/code-phien-ban-nhe1.jpg" style={{
		borderRadius: "10px",
		boxShadow: "0 0 5px black"
	}}/>
</Slide>

<Slide>
	<Title title="Integrated Development Environment (IDE)" punctuation=" !"/>
	<div style={{
		display: "flex",
		gap: "5rem",
		justifyContent: "center",
		alignItems: "center"
	}}>
		<div style={{
			display: "flex",
			flexDirection: "column",
			justifyContent: "center",
			alignItems: "center"
		}}>
			<img src="https://upload.wikimedia.org/wikipedia/commons/7/71/WebStorm_Icon.png" style={{
				width: "100px",
			}}/>
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/IntelliJ_IDEA_Icon.svg/1200px-IntelliJ_IDEA_Icon.svg.png" style={{
				width: "100px",
			}}/>
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/PhpStorm_Icon.svg/1200px-PhpStorm_Icon.svg.png" style={{
				width: "100px",
			}}/>
		</div>
		<img src="https://blog.jetbrains.com/wp-content/uploads/2022/05/new_ui-2x-12.png" style={{
			width: "70%",
			borderRadius: "10px",
			boxShadow: "0 0 5px black"
		}}/>
	</div>
</Slide>
